body{
    font: 16px sans-serif;
}

h1{
    color: blueviolet;
    font-size: 56px;
    margin: 0;
    padding: 0;
}

header nav{
    font-weight: bold;
    font-size: 21px;
    border-left: 3px solid blueviolet;
    padding-left: 21px;
}

a{
    font-weight: bold;
    color: blueviolet;
    text-decoration: none;
}

a:hover{
    color: yellowgreen;
}

a.menu{
    color: blueviolet;
}

a.menu:hover{
    color: yellowgreen;
}

form > div {
    margin-bottom: 16px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
}

.camposFormulario {
    padding: 9px 12px;
    border: 2px solid blueviolet;
    border-radius: 9px;
    min-width: 320px;
}

form button {
    background-color: yellowgreen;
    color: blueviolet;
    font-size: 16px;
    padding: 14px 18px;
    border: none;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.5s ease;
}

form button:hover {
    background-color: blueviolet;
    color: yellowgreen;
    transform: scale(1.05);
}

header {
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 21px;
    display: flex;
}

#site{
    max-width: 1096px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid blueviolet;
}

main {
    padding: 21px;
}
