<div class="chat-container">
    <div *ngFor="let msg of mensagens">
        <div class="mensagem-container" [ngClass]="{'right': msg.author === 'you', 'left': msg.author === 'attendant'}">
            <div class="box">
                <div>
                <strong *ngIf="msg.author === 'attendant'" style="color: rgb(170, 170, 170);">Atendente diz:</strong>
                <strong *ngIf="msg.author === 'you'" style="color: rgb(170, 170, 170);">Você diz:</strong>
                </div>
                <div class="mensagem-texto">
                {{ msg.text }}
                </div>
            </div>
            <div>
                
            </div>
        </div>
    </div>
</div>

<form (ngSubmit)="enviarMensagem()">
    <div class="send-message">
        <input name="newMessage" [(ngModel)]="newMessage" #forminput="ngModel" placeholder="Digite sua mensagem aqui...">
        <button type="submit">Enviar</button>
    </div>
</form>


<router-outlet />